.contact {
    display: flex;
    justify-content: space-between;

    color: white;
    font-family: Raleway, sans-serif;

    background-color: rgb(11, 13, 12);
}

.contact-block-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: start;

    margin-left: 60px;

    font-size: 2rem;
}

.contact-block-text-other {
    margin-bottom: 20px;
}

.contact-block-text-main {
    font-weight: 700;
    font-size: 3rem;
}

.contact-block-text-btn {
    margin-top: 20px;
    padding: 10px 40px;

    color: white;
    text-transform: uppercase;
    text-decoration: none;

    border: 1px solid white;
    border-radius: 40px;

    cursor: pointer;
}