.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    white-space: nowrap;

    border: 0;

    overflow: hidden;

    clip: rect(0 0 0 0);
    clip-path: inset(100%);
}


.banner {
    display: flex;
    justify-content: space-between;

    color: white;
    font-family: Raleway, sans-serif;

    background-color: rgb(11, 13, 12);
}

.banner-block-text {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: start;

    margin-left: 60px;

    font-size: 2rem;
}

.banner-block-text-other {
    margin-bottom: 20px;
}

.banner-block-text-main {
    font-weight: 700;
    font-size: 3rem;
}

.banner-block-text-btn {
    margin-top: 20px;
    padding: 10px 40px;

    color: white;
    text-transform: uppercase;
    text-decoration: none;

    border: 1px solid white;
    border-radius: 40px;

    cursor: pointer;
}

.about {
    display: flex;
    gap: 40px;
    justify-content: space-between;

    margin: 100px;

    color: var(--color-dark);
    font-family: Raleway, sans-serif;

    background-color: var(--color-light);
}

.about__banner {
    width: 50%;
}

.about__banner-img {
    height: 100%;
    max-width: 100%;
}

.about__block {
    width: 50%;
    margin: auto 0;

    text-align: right;
}

.about__block-title {
    max-width: 674px;
    margin-bottom: 20px;

    color: black;
    font-weight: 400;
    font-size: 70px;
    font-family: var(--font-family-accent);
    line-height: 100px;
    text-transform: uppercase;
}

.about__block-text {    
    max-width: 619px;

    font-weight: 400;
    font-size: 25px;
    font-family: var(--font-family-accent);
}

@media (max-width: 1100px) {
    .about {
        margin: 40px;
    }

    .banner-block-text-btn {
        padding: 9px 10px;
    }

    .banner-block-text-main {
        font-size: 2rem;
    }

    .about__block-title {
        font-size: 36px;
        line-height: 36px;
    }

    .about__block-text {
        margin-bottom: 10px;

        font-size: 16px;
    }
}

@media (max-width: 920px) {
    .about__block {
        margin: auto 0;
    }

    .banner {
        flex-direction: column;
    }

    .banner-block-text {
        justify-content: center;
        align-items: center;

        margin: 0;

        background-color: var(--color-dark);
    }

    .banner-block-text-btn {
        margin-top: 8px;
        margin-bottom: 8px;
    }
}

@media (max-width: 802px) {
    .about {
        flex-direction: column;
        gap: 0;
        align-items: center;

        margin: 5px;
    }

    .about__block-title {
        margin: 10px 0;

        text-align: center;
    }

    .about__block-text {
        text-align: center;
    }
}



.choose {
    display: flex;
    gap: 40px;
    justify-content: space-between;

    color: var(--color-dark);
    font-family: Raleway, sans-serif;

    background-color: var(--color-light);
}

.choose__block {
    position: relative;

    width: 50%;
    margin-top: 50px;
    margin-left: 50px;

    text-align: center;
}

.choose__block-title {
    margin-bottom: 20px;

    color: black;
    font-weight: 400;
    font-size: 70px;
    font-family: var(--font-family-accent);
    line-height: 100px;
    text-transform: uppercase;
}

.choose__carousel-block {
    position: absolute;
    left: -180px;
    bottom: 0;

    display: flex;
    gap: 8px;
}

@media (max-width: 760px) {
    .choose {
        flex-direction: column;
        gap: 10px;
        justify-content: space-between;
        align-items: center
    }
}

@media (max-width: 1485px) {
    .choose {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    
        color: var(--color-dark);
        font-family: Raleway, sans-serif;
    
        background-color: var(--color-light);
    }

    .choose__carousel-block {
        position:relative;

        margin: 50px 0;
    }

    .choose__block {
        display: flex;
        flex-direction: column;

        margin: 0;
    }
}

@media (max-width: 1050px) {
    .choose__carousel-block {
        position: relative;
        left: 0;

        flex-direction: column;
    }
}